.container h2 {
    text-align: center;
    margin: 30px 0 40px 0;
    font-size: 48px;
}

.container {
    padding: 0 170px;
}

.container > div {
    display: flex;

}

.container > div > div {
    flex-basis: 50%;
}

.info {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 20px;
}

.info p:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.container h3 {
    font-size: 32px;
    margin-bottom: 50px;
}

.footer {
    margin-top: 30px;
    display: inline-block;
}

.discount {
    margin: 0;
    justify-content: space-between;
}

.discount p:last-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #709583;
}

.button {
    margin-top: 20px;
}

.history img {
    width: inherit;
    margin-bottom: 20px;
}

.history {
    text-align: center;
}

.carContainer {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 450px;
}

.carContainer > div > div {
    display: flex;
}

.carContainer > div > div > p {
    text-align: left;
    margin-bottom: 20px;
    line-height: 24px;
}

.carContainer > div > div > p:first-child {
    flex-basis: 60%;
}


.carContainer > div > div > p:last-child {
    flex-basis: 40%;
}


.carContainer > div > div > p:first-child {
    font-weight: 600;
    font-size: 20px;
}

.noCars {
    max-width: 487px;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}