.container h2 {
    text-align: center;
    margin: 30px 0 40px 0;
    font-size: 48px;
}

.container {
    padding: 0 170px;
}

.container > div {
    display: flex;

}

.container > div > div {
    flex-basis: 50%;
}

.info {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 20px;
}

.info p:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.container h3 {
    font-size: 32px;
    margin-bottom: 50px;
}

.footer {
    margin-top: 30px;
    display: inline-block;
}

.discount {
    margin: 0;
    justify-content: space-between;
}

.discount p:last-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #709583;
}

.button {
    margin-top: 20px;
}

.history img {
    width: inherit;
    margin-bottom: 20px;
}

.history {
    text-align: center;
}

.carContainer {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 450px;
}

.carContainer > div > div {
    display: flex;
}

.carContainer > div > div > p {
    text-align: left;
    margin-bottom: 20px;
    line-height: 24px;
}

.carContainer > div > div > p:first-child {
    flex-basis: 60%;
    font-weight: 600;
    font-size: 20px;
}


.carContainer > div > div > p:last-child {
    flex-basis: 40%;
}


.noCars {
    max-width: 487px;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 800px) {
    .container > div {
        flex-direction: column;
    }


    .container h2 {
        margin: 18px 0 19px 0;
        font-size: 33px;
    }

    .container h3 {
        font-size: 25px;
        margin-bottom: 24px;
    }

    .info {
        gap: 46px;
        margin-bottom: 8px;
    }

    .info.info p {
        font-size: 16px;
        line-height: 13px;
    }

    .discount p:last-child {
        font-size: 18px;
        line-height: 100%;
    }

    .button {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 50px;
    }

    .container h2 {
        font-size: 23px;
    }

    .container h3 {
        font-size: 20px;
    }

    .info.info p {
        font-size: 13px;
    }

    .carContainer {
        width: 320px;
    }

    .carContainer > div > div > p {
        margin-bottom: 5px;
    }


    .carContainer > div > div > p:first-child {
        font-size: 15px;
    }


    .carContainer > div > div > p:last-child {
        font-size: 12px;
    }

}

@media screen and (max-width: 500px) {
    .carContainer {
        width: 300px;
    }

    .noCars {
        font-size: 14px;
    }
}
