.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    column-gap: 80px;
}

.container > div {
    flex-basis: 50%;
}

.container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 42px;
}

.register {
    padding: 25px 85px 35px 65px;
    background: #709583;
    border-radius: 10px;
}

.container input {
    display: block;
    width: 305px;
    padding: 8px;
    border: 1px solid #181B19;
    border-radius: 5px;
    margin-bottom: 20px;
    background: transparent;
}

.container input:focus {
    outline: none;
}

.container label {
    margin-bottom: 13px;
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.login {
    padding: 25px 85px 35px 65px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(112, 149, 131, 0.5);
}

.loginButton, .registerButton {
    padding: 15px 0 15px 0;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.loginButton {
    background: #709583;
    color: white;
    letter-spacing: normal;
}

.loginButton:hover, .registerButton:hover {
    background: rgba(112, 149, 131, 0.75);
    color: white;
}

.registerButton:hover {
    background: #9eb9ab;
    color: white;
}

.registerButton {
    background: #FFFFFF;
    color: #709583;
}

.error {
    color: #ac0404;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        gap: 20px;
        justify-content: center;
    }

    .container > div {
        flex-basis: 0;
    }

    .container h2 {
        font-size: 30px;
        margin-bottom: 0;
        line-height: 150%;
    }

    .container label {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .container input {
        width: 270px;
    }

    .register, .login {
        padding: 21px 24px 35px 24px;
    }

    .registerButton, .loginButton {
        padding: 8px 0 8px 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        max-width: 346px;
    }
}