.container {
    text-align: center;
}


.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 10px;
}

.pieChartContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 95px;
    justify-content: space-between;
}

.pieChart {
    width: 28%;
    text-align: center;
}

.pieChart p {
    font-weight: 600;
    font-size: 16px;
    max-width: 250px;
    margin: 15px auto;
}

@media screen and (max-width: 1300px) {
    .pieChartContainer {
        column-gap: 48px;
    }
}

@media screen and (max-width: 450px) {
    .pieChartContainer {
        column-gap: 10px;
    }

    .title {
        font-size: 22px;
        line-height: 22px;
    }
}