.carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 30px;
}

.container {
    padding: 60px 235px;
}

.container h1 {
    margin-bottom: 70px;
    text-align: center;
}