.pieChart {
    position: relative;
    margin-top: 40px;
}

.percent {
    font-weight: 700;
    line-height: 39px;
}

@media screen and (max-width: 450px) {
    .pieChart {
        margin-top: 0;
    }
}