.container {

}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin: 100px 0 30px 0;
}


@media screen and (max-width: 800px) {
    .title {
        margin: 35px 0 25px 0;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 13px 0;
    }


}