.car {
    width: 450px;
}

.image {
    width: inherit;
}

.car h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #181B19;
    margin-bottom: 12px;
}

.iconsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.iconsContainer > div {
    flex-basis: 33.333333%
}

.priceContainer {
    display: flex;
    font-weight: 700;
    column-gap: 50px;
    font-size: 24px;
    line-height: 140%;
    color: #181B19;
    padding: 33px 0 47px 20px;
}

.priceContainer > p:last-child {
    font-size: 16px;
}

.button {
    width: 100%;
    background: #709583;
    border-radius: 10px;
    padding: 13px 0;
    outline: 0;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background: rgba(112, 149, 131, 0.75);
}

@media screen and (max-width: 850px) {
    .car {
        width: 300px;
    }

    .car h2 {
        font-size: 18px;
    }

    .iconsContainer {
        gap: 2px;
        justify-content: space-between;
    }

    .iconsContainer > div {
        flex-basis: 30%;
    }

    .iconsContainer svg {
        height: 18px;
    }

    .priceContainer {
        column-gap: 10px;
        font-size: 17px;
        padding: 14px 0 21px 18px;
    }

    .priceContainer > p:last-child {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
        padding: 9px 0;
    }
}


@media screen and (max-width: 450px) {
    .car {
        width: 250px;
    }

    .iconsContainer {
        gap: 0;
        justify-content: space-between;
    }

    .iconsContainer svg {
        height: 16px;
    }

    .priceContainer {
        font-size: 16px;
    }

    .priceContainer > p:last-child {
        font-size: 12px;
    }

    .button {
        font-size: 12px;
    }
}