.image {
    width: 100%;
    position: relative;

}

.recImage {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
}

.container {
    position: relative;
}

.imageText {
    position: absolute;
    top: 40%;
    right: 30px;
}


.imageText h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: right;
}

.imageText h2:first-child {
    color: #709583;
}

.imageText h2:nth-child(2) {
    color: #FFFFFF;
}

.imageText p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
    .imageText h2 {
        font-size: 38px;
        line-height: 38px;
    }
}

@media screen and (max-width: 850px) {
    .imageText {
        top: 42%;
        right: 26px;
    }

    .imageText h2 {
        font-size: 25px;
        line-height: 25px;
    }

    .imageText p {
        margin-top: 13px;
        font-size: 14px;
        line-height: 14px;
    }
}


@media screen and (max-width: 450px) {
    .imageText {
        top: 36%;
        right: 12px;
    }

    .imageText h2 {
        font-size: 8px;
        line-height: 11px;
    }

    .imageText p {
        margin-top: 4px;
        font-size: 5px;
        line-height: 5px;
    }

}